/node_modules
/logs
/dist
/coverage
/prisma/dev.db
/.vscode
/.dpy
.idea
/config/*.ts
!/config/default.ts
!/config/test.ts
!/config/types.d.ts
/locales/resources.d.ts
.env
package-lock.json
bun.lockb
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.vscode
.data/
